<div id="<%= dom_id my_friend %>">
  <p>
    <strong>First name:</strong>
    <%= my_friend.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= my_friend.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= my_friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= my_friend.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= my_friend.twitter %>
  </p>

</div>
